- name: enable webtatic-release
  yum:
    name: https://mirror.webtatic.com/yum/el7/webtatic-release.rpm
    state: present

- name: install packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
  - sendmail
  - php{{ php_version }}w
  - php{{ php_version }}w-fpm
  - php{{ php_version }}w-mysql
  - php{{ php_version }}w-gd
  - php{{ php_version }}w-mcrypt
  - php{{ php_version }}w-pecl-xdebug
  - php{{ php_version }}w-mbstring
  - php{{ php_version }}w-opcache
  - php{{ php_version }}w-xml

- name: copy php configuration files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
  with_items:
  - src: php.ini
    dest: /etc/php.d/dork.ini
  - src: www.conf
    dest: /etc/php-fpm.d/www.conf
  - src: php-fpm.conf
    dest: /etc/php-fpm.conf
  - src: php.conf
    dest: /etc/nginx/php.conf

- name: override nginx vhost
  copy:
    src: dork.conf
    dest: /etc/nginx/conf.d/dork.conf

- name: composer directory
  file:
    path: /usr/local/composer
    state: directory

- name: download composer
  shell: curl -sS http://getcomposer.org/installer | php
  args:
    chdir: /usr/local/composer
    creates: /usr/local/composer/composer.phar

- name: link composer into path
  file:
    src: /usr/local/composer/composer.phar
    dest: /usr/local/bin/composer
    state: link

- name: supervisor configuration
  copy:
    src: php-fpm.ini
    dest: /etc/supervisord.d/php-fpm.ini
  register: supervisor

- name: reload supervisor
  supervisorctl:
    name: php-fpm
    state: restarted
  when: supervisor.changed
