- name: enable remi repository
  yum:
    name: http://rpms.remirepo.net/enterprise/remi-release-7.rpm
    state: present

- name: install packages
  yum:
    name: "{{ item }}"
    state: present
    enablerepo: remi, remi-php{{ php_version }}
  with_items:
  - nginx
  - php
  - php-fpm
  - php-mysql
  - php-gd
  - php-mcrypt
  - php-mbstring
  - php-opcache
  - php-xml

- name: install development packages
  yum:
    name: "{{ item }}"
    state: present
    enablerepo: remi, remi-php{{ php_version }}
  with_items:
  - php-pecl-xdebug
  when: dork_development is defined

- name: create php directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - /etc/php-fpm.d/
  - /etc/php.d/
  - /var/log/php-fpm
  - /var/run/php-fpm

- name: copy php configuration files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
  with_items:
  - src: php.ini
    dest: /etc/php.d/dork.ini
  - src: www.conf
    dest: /etc/php-fpm.d/www.conf
  - src: php.conf
    dest: /etc/nginx/php.conf
  notify: dork.php reload

- name: enable nginx vhost
  template:
    src: php.conf.j2
    dest: /etc/nginx/conf.d/php.conf
  when: php_http_port
  notify: dork.nginx reload

- name: remove nginx vhost
  file:
    path: /etc/nginx/conf.d/php.conf
    state: absent
  when: not php_http_port
  notify: dork.nginx reload

- name: composer directory
  file:
    path: /usr/local/composer
    state: directory

- name: download composer
  shell: curl -sS http://getcomposer.org/installer | php
  args:
    chdir: /usr/local/composer
    creates: /usr/local/composer/composer.phar

- name: link composer into path
  file:
    src: /usr/local/composer/composer.phar
    dest: /usr/local/bin/composer
    state: link

- name: supervisor configuration
  copy:
    src: php-fpm.ini
    dest: /etc/supervisord.d/php-fpm.ini
  register: supervisor

- name: start php-fpm
  supervisorctl:
    name: php-fpm
    state: started
